<div class="select" [class.select--open]="isOpen">
  <div class="select__label">KKT:</div>
  <div class="select-button">
    <div class="select-button__handler" (click)="openMenu()"></div>
    <button type="button" class="select-button__button" (click)="openMenu()">{{ label }}</button>
    <input #inputElement [formControl]="searchInput" type="text" placeholder="Поиск ККТ" class="select-button__input">
  </div>
  <div class="select-menu">
    <div class="select-menu__inner" [class.progress-circle]="loadingInProgress">

      <!-- Все элементы -->
      <div class="select-menu__service">
        <div class="select-menu__item" (click)="selectAll()">
          <b>Все</b>
        </div>
      </div>

      <!-- Найденные по запросу -->
      <div *ngIf="searchResult.length > 0" class="select-menu__list">
        <div *ngFor="let item of searchResult" class="select-menu__item">
          <b>{{ item.name }}</b>
          <span>Регистрационный номер: {{ item.registration }}</span>
          <span>Заводской номер: {{ item.factory }}</span>
          <span>Заводской номер ФН: {{ item.fiscalStorage }}</span>
          <div class="select-menu__item-handler select-menu__item-handler--check" (click)="selectItem(item)"></div>
        </div>
      </div>

      <div *ngIf="searchResult.length === 0" class="select-menu__message">Нет доступных элементов.</div>

      <div *ngIf="hasSelectedItems" class="select-menu__hint-divider">Добавленные</div>

      <!-- Выбранные пользователем -->
      <div *ngIf="hasSelectedItems" class="select-menu__list select-menu__list--without-last-border select-menu__list--overflow-scroll">
        <div *ngFor="let item of value" class="select-menu__item select-menu__item--selected">
          <b>{{ item.name }}</b>
          <span>Регистрационный номер: {{ item.registration }}</span>
          <span>Заводской номер: {{ item.factory }}</span>
          <span>Заводской номер ФН: {{ item.fiscalStorage }}</span>
          <div class="select-menu__item-handler select-menu__item-handler--remove" (click)="removeItem(item)"></div>
        </div>
    </div>
  </div>
</div>
