app-select {
  display: block;
  width: 280px;
}

.select {
  position: relative;
}

.select__label {
  font-size: 13px;
  color: #aaa;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.select-button {
  position: relative;

  .select-button__handler {
    background: url("/assets/img/arrow.svg") 50%/12px no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 32px;
    cursor: pointer;
  }

  button.select-button__button,
  input.select-button__input {
    width: 100%;
    min-width: 240px;
    height: 32px;
    padding: 0 32px 0 12px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 1;
  }

  button.select-button__button {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input.select-button__input {
    display: none;
  }

  @mixin placeholder-style {
    font-style: italic;
    color: #adadad;
    opacity: 1;
  }

  input.select-button__input::placeholder {
    @include placeholder-style;
  }

  input.select-button__input::-webkit-input-placeholder {
    @include placeholder-style;
  }

  input.select-button__input:-moz-placeholder {
    @include placeholder-style;
  }

  input.select-button__input::-moz-placeholder {
    @include placeholder-style;
  }

  input.select-button__input:-ms-input-placeholder {
    @include placeholder-style;
  }

  input.select-button__input::-ms-input-placeholder {
    @include placeholder-style;
  }
}

.select-menu {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  position: absolute;
  z-index: 12;
  width: 100%;
  margin-top: 12px;
  box-shadow: 0 0 12px rgba(#ccc, .25);
  background: #fff;
  display: none;

  &:before,
  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    border-color: rgba(197, 197, 197, 0);
    border-bottom-color: #e3e3e3;
    border-width: 7px;
    margin-left: -7px;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
  }
}

.select-menu__inner.progress-circle {
  &,
  &:before {
    border-radius: 5px;
    min-height: 240px;
  }
}

.select.select--open {
  button.select-button__button {
    display: none;
  }

  input.select-button__input {
    display: block;
  }

  .select-button__handler {
    transform: rotate(180deg);
  }

  .select-menu {
    display: block;
  }
}

.select-menu__item {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 32px 10px 12px;
  position: relative;

  b {
    font-weight: normal;
    display: block;
  }

  span {
    display: block;
    font-size: 12px;
    padding-top: 4px;
    color: #adadad;
  }

  .select-menu__item-handler {
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    width: 32px;
    display: none;

    &.select-menu__item-handler--check {
      background: url("/assets/img/check.svg") 50%/12px no-repeat;
    }

    &.select-menu__item-handler--remove {
      background: url("/assets/img/remove.svg") 50%/12px no-repeat;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background: #f5f5f5;
    cursor: default;

    .select-menu__item-handler {
      display: block;
    }
  }

  &.select-menu__item--selected {
    background: #fbfbfb;
    color: #8a8a8a;

    span {
      color: #c7c7c7;
    }

    .select-menu__item-handler {
      display: block;
      opacity: .5;
    }
  }
}

.select-menu__service {
  padding: 6px 0;
  border-bottom: 1px solid #e3e3e3;

  .select-menu__item {
    border-bottom: none;
  }
}

.select-menu__list.select-menu__list--overflow-scroll {
  height: auto;
  max-height: 300px;
  overflow: auto;
}

.select-menu__list.select-menu__list--without-last-border .select-menu__item:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.select-menu__hint-divider {
  color: #aaa;
  font-size: 12px;
  padding: 30px 12px 5px;
  border-bottom: 1px solid #e3e3e3;
}

.select-menu__message {
  color: #aaa;
  font-size: 13px;
  text-align: center;
  padding: 30px 12px;
  border-bottom: 1px solid #e3e3e3;
}
