*, :after, :before {
  box-sizing: border-box;
}

body {
  padding: 50px;
  margin: 0;
}

body, button, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #4c4c4c;
}

button, input {
  outline: none;
}

input::-ms-clear {
  display: none;
}

.progress-circle {
  position: relative;
  display: block;

  &:before {
    content: ' ';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    background-color: rgba(#fff, .9);
  }

  &:after {
    width: 32px;
    height: 32px;
    display: block;
    border-top: 2px solid rgba(#ccc, 1);
    border-right: 2px solid rgba(#ccc, 1);
    border-bottom: 2px solid rgba(#ccc, 1);
    border-left: 2px solid #009de4;
    border-radius: 50%;
    content: ' ';
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    transform: translateZ(0);
    animation: loader .7s infinite linear;
  }

  .booking__form {
    filter: blur(2px);
  }
}

pre {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  background: #f5f5f5;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
